/*sizing*/

#provider {
  height: 40px;
}

#avator {
  height: 40px;
}


#image {
  height: 120px;
  width: 120px;
  margin-left: 60px;
  margin-right: 60px;
}

#message {
  height: 120px;
  width: 250px;
}

.container {
  height: 130px;
  width: 250px;
}

#item {
  height: 300px;
  width: 450px;

}

.card-action {
  float: right;
}


/*styling*/

#username {
  font-size: 18px;
}

#card {
  background-color: #ECEFF1;
    width: 380px;
}

#nav-bar {
  background-color: #CFD8DC;
  position: fixed;
  z-index:3;
}

#page-content {
  padding-top:70px;
}

body {
  background-color: #455A64;
}

/*messaging*/

.panel {
    padding: 18px;
    display: none;
    background-color: white;
}
