/*sizing*/

#provider {
  height: 40px;
}

#avator {
  height: 40px;
}


#image {
  height: 120px;
  width: 120px;
  margin-left: 60px;
  margin-right: 60px;
}

#message {
  height: 120px;
  width: 240px;
}

.container {
  height: 130px;
  width: 250px;
}

#item {
  height: 300px;
  width: 450px;

}

.card-action {
  float: right;
}


/*styling*/

#username {
  font-size: 18px;
}

#card {
  background-color: #E0E0E0;
    width: 380px;
}

#nav-bar {
  background-color: #0277bd;
  position: fixed;
  z-index:3;
}

#page-content {
  padding-top:70px;
}

body {
  background-color: #f5f5f5;
}

.red-text {
  opacity: 90%;
}

/*Chart*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
}

#graph{
  position: fixed;
  z-index:2;
  padding-top: 60px;
}

#chartform {
  position: absolute;
  right: 10px;
  top: 10px;
}
